{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "printWidth": 110,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",

  "tailwindAttributes": ["className"],

  "tailwindFunctions": ["cn", "clsx"],

  "plugins": ["prettier-plugin-tailwindcss"]
}
